{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}

<div class="container my-5">
    <h1 class="text-center mb-4">Каталог книг</h1>
    <div class="row g-4"> </div>
    <div class="bg-light py-5 mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Почему выбирают нас?</h2>

        <ul class="list-group list-group-flush fs-5">
            <li class="list-group-item bg-light">
                📚 Большой выбор книг разных жанров
            </li>
            <li class="list-group-item bg-light">
                💰 Доступные цены и скидки
            </li>
            <li class="list-group-item bg-light">
                🚚 Быстрая доставка по всей стране
            </li>
            <li class="list-group-item bg-light">
                ⭐ Проверенные авторы и издательства
            </li>
            <li class="list-group-item bg-light">
                💬 Поддержка клиентов 24/7
            </li>
        </ul>
    </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}